<?xml version="1.0"?>
<launch>
<arg name="calibration" default="false" />
  <!--node name="action_service" pkg="bl_config" type="action_service.py" respawn="true" output="screen" /-->
  <group ns="move_group">
    <node if="$(arg calibration)" name="calibration_node" pkg="protobot_arm_gripper_bringup" type="calibration.py" respawn="false" output="screen"/>
    <node unless="$(arg calibration)" name="arm_trajectory_action_service_node" pkg="protobot_arm_gripper_bringup" type="arm_trajectory_action_service_node" respawn="true" output="screen"/>
    <node unless="$(arg calibration)" name="gripper_action_service_node" pkg="protobot_arm_gripper_bringup" type="gripper_command_action_service_node" respawn="true" output="screen"/>
    <node name="driver_serial_node" pkg="rosserial_arduino" type="serial_node.py" respawn="true" output="screen">
      <param name="port" value="/dev/ttyACM0"/>
      <param name="baud" value="57600"/>
    </node>
  </group>
</launch>
